03-n8n-lead-support-suite/workflows/02_ai_lead_scoring_and_routing.json
{
    "name": "02 AI Lead Scoring & Routing",
    "nodes": [
      {
        "parameters": {
          "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [240, 300]
      },
      {
        "parameters": {
          "operation": "selectAll",
          "table": "leads",
          "where": "status = 'validated'"
        },
        "id": "fetch-validated",
        "name": "Fetch Validated Leads",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [440, 300],
        "credentials": { "postgres": { "id": "PLACEHOLDER", "name": "Postgres Lead DB" } }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Analyze this lead for B2B SaaS potential.\nName: {{ $json.name }}\nCompany: {{ $json.company }} (Size: {{ $json.company_size }})\nMessage: {{ $json.message }}\n\nReturn JSON ONLY:\n{\n  \"lead_score\": (0-100 integer),\n  \"intent_category\": \"high_buying\" | \"medium_interest\" | \"low_info\" | \"spam\",\n  \"summary\": \"One sentence summary\",\n  \"recommended_action\": \"Call immediately\" | \"Send email\" | \"Nurture\",\n  \"confidence\": (0.0-1.0 float)\n}",
          "options": { "systemMessage": "You are a strict B2B Sales Director." }
        },
        "id": "ai-scorer",
        "name": "AI Lead Scorer",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [640, 300],
        "credentials": { "openAiApi": { "id": "PLACEHOLDER", "name": "OpenAI Account" } }
      },
      {
        "parameters": {
          "conditions": {
            "number": [{ "key": "lead_score", "operation": "largerEqual", "value": 80 }]
          }
        },
        "id": "is-hot-lead",
        "name": "Is Hot Lead?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [840, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.slack.com/services/YOUR/WEBHOOK",
          "sendBody": true,
          "bodyParameters": {
            "params": [
              { "name": "text", "value": "🔥 HOT LEAD ALERT!\nName: {{ $json.name }}\nScore: {{ $json.lead_score }}\nAction: {{ $json.recommended_action }}\nSummary: {{ $json.summary }}" }
            ]
          }
        },
        "id": "notify-slack",
        "name": "Notify Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1040, 180]
      },
      {
        "parameters": {
          "operation": "update",
          "table": "leads",
          "columns": "lead_score, intent_category, summary, recommended_action, status",
          "columnValues": "={{ $json.lead_score }}, '{{ $json.intent_category }}', '{{ $json.summary }}', '{{ $json.recommended_action }}', 'qualified'",
          "where": "id = '{{ $json.id }}'"
        },
        "id": "update-with-ai",
        "name": "Update with AI Data",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [1040, 420],
        "credentials": { "postgres": { "id": "PLACEHOLDER", "name": "Postgres Lead DB" } }
      }
    ],
    "connections": {
      "Schedule Trigger": { "main": [[{ "node": "Fetch Validated Leads", "type": "main", "index": 0 }]] },
      "Fetch Validated Leads": { "main": [[{ "node": "AI Lead Scorer", "type": "main", "index": 0 }]] },
      "AI Lead Scorer": { "main": [[{ "node": "Is Hot Lead?", "type": "main", "index": 0 }]] },
      "Is Hot Lead?": {
        "main": [
          [{ "node": "Notify Slack", "type": "main", "index": 0 }],
          []
        ]
      },
      "Notify Slack": { "main": [[{ "node": "Update with AI Data", "type": "main", "index": 0 }]] },
      "Is Hot Lead?": { "main": [[], [{ "node": "Update with AI Data", "type": "main", "index": 0 }]] }
    },
    "settings": { "executionOrder": "v1" },
    "versionId": "ent-v1"
  }